node_modules/

# npm lockfile
package-lock.json

# tests
coverage/
build/test/

# typescript
src/
tsconfig.json
tslint.json

# gulp
gulpfile.js

# ci
circle.yml
cc-test-reporter

# misc
extra/
.directory
.gitignore
*.log
